* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1e1e2f;
    min-height: 100vh;
}

/* ===== SIDEBAR ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: linear-gradient(180deg, #25252b, #1e1e2f);
    padding: 30px 20px;
    color: #fff;
}

.sidebar .logo {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    color: #ff2770;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 14px 18px;
    margin-bottom: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #ff2770;
    box-shadow: 0 0 15px rgba(255, 39, 112, 0.6);
}

/* ===== MAIN CONTENT ===== */
.main-content {
    margin-left: 260px;
    padding: 40px;
    color: #fff;
}

/* HEADER */
.header h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.header p {
    color: #aaa;
    margin-bottom: 30px;
}

/* ===== CARDS ===== */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background: #25252b;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(255, 39, 112, 0.5);
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ff2770;
}

.card p {
    font-size: 26px;
    font-weight: 700;
}

/* ===== CHART ===== */
.charts {
    background: #25252b;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.clock-box {
    text-align: right;
    color: #fff;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;



}

.clock-box small {
    font-size: 13px;
    opacity: 0.7;
}

.light-mode {
    background: #f4f4f4;
    color: #111;
}

.light-mode .sidebar {
    background: #fff;
}

.header {
    text-align: center;
}

.logout-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.logout-link:hover {
    color: #ff2770;
}



.dashboard-logo {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 12px rgba(255, 39, 112, 0.6));
    animation: logoFade 1s ease;
}

@keyframes logoFade {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}