* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    color: #fff;
}

.main-logo {
    margin-bottom: 30px;
    
    text-align: center;
    animation: floatLogo 1.5s ease-in-out infinite;
}

@keyframes floatLogo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        
    }

    100% {
        transform: translateY(0);
    
    }
}

.main-logo img {
    height: 160px;
    border-radius: 50%;
    border: 3px solid crimson;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #25252b;
}

.containr {
    position: relative;
    width: 750px;
    min-height: 520px;
    border: 2px solid #ff2770;
    box-shadow: 0 0 25px #ff2770;
    overflow: hidden;
}


.containr .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-box.login {
    left: 0;
    padding: 0 40px;
}

.form-box.login .animation {
    transform: translateX(0%);
    transition: .7s;
    opacity: 1;
    transition-delay: calc(.1s * var(--S));

}

.containr.active .form-box.login .animation {
    transform: translateX(-120%);
    opacity: 0;
    transition-delay: calc(.1s * var(--D));
}


.form-box.register {
    right: 0;
    padding: 0 15px 0 70px;
    
}

.form-box.register .animation {
    transform: translateX(120%);
    transition: .7s ease;
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--S));

}

.containr.active .form-box.register .animation {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--li));
}


.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom: 2px solid #ff2770;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #ff2770;
}

.input-box input:focus~span,
.input-box input:valid~span {
    top: -5px;
    color: #ff2770;
    font-weight: bold;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    transform: translateY(-50%);
    transition: .5s;
}

.input-box input:focus~i,
.input-box input:valid~i {

    color: #ff2770;
}

.btn {
    position: absolute;
    width: 100%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #ff2770;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(#25252b, #ff2770, #25252b, #ff2770);
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    top: 0;

}

.regi-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;



}

.regi-link a {
    text-decoration: none;
    color: #ff2770;
    font-weight: 600;


}

.regi-link a:hover {
    text-decoration: underline;
}


.info-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-content.login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;


}

.info-content.login .animation {
    transform: translateX(0);

    transition: .7s ease;
    transition-delay: calc(.1s * var(--S));
    opacity: 1;
    filter: blur(0px);

}


.containr.active .info-content.login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--D));
}

.info-content.register {

    left: 0;
    text-align: left;
    padding: 0 150px 60px 38px;
    pointer-events: none;


}

.info-content.register .animation {
    transform: translateX(-120%);
    opacity: 0;
    transition: .7s ease;
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--S));

}


.containr.active .info-content.register .animation {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--li));

}

.info-content h2 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.3;
}

.info-content p {
    font-size: 16px;
}

.containr .curved-shape {
    position: absolute;
    right: 0;
    top: -5px;
    height: 600px;
    width: 850px;
    background: linear-gradient(45deg, #25252b, #ff2770);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;

}

.containr.active .curved-shape {
    transform: rotate(0deg) skewY(0deg);
    transition-delay: .5s;
}

.containr .curved-shape2 {
    position: absolute;
    left: 250px;
    top: 100%;
    height: 700px;
    width: 850px;
    background: #25252b;
    border-top: 3px solid #ff2770;
    transform: rotate(0deg) skewY(0deg);
    transform-origin: bottom left;
    transition: 1.3s ease;
    transition-delay: .5s;
}

.containr.active .curved-shape2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;


}
